.layout {
  background: #e9eaed;
  font-size: 14px;
}
.layout .ant-layout-header{
  background-color: white;
  border: 1px solid transparent;
  box-shadow: 0 1px 1px rgba(0,0,0,0.05);
  height: 50px;
  line-height: 48px;
  border-color: #e7e7e7;
}