.header-logo, .header-search {
  float: left;
  margin: 0;
  padding-left: 10px;
}
.header-logo a:visited, .header-user-group a:visited {
  color: #666;
  outline: none;
}


.header-brand{
  border-bottom: 3px solid #FFF;
  margin: 0;
  text-align: center;
  color: #666;
  line-height: 100%;
  padding: 15px 15px;
  font-size: 18px;
  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.header-brand b {
  font-weight: 700;
  color: #EB5424;
}
#navbar{
  background-color: #fff;
}
#nav > li >a {
  color: #333;
  
  padding-bottom: 12px;
}
#nav > li > a:hover {
  border-bottom: 3px solid #EB5424;
  padding-bottom: 12px;
}
.nav > li > a:hover{
  color: #EB5424 !important;
  background-color: transparent !important;
  padding-bottom: 12px;
}
.nav > .active > a {
  color: #EB5424 !important;
  background-color: transparent !important;
  padding-bottom: 12px;
}
#nav > .active > a {
  border-bottom: 3px solid #EB5424 !important;
  padding-bottom: 12px;
}
.header-others,.header-user-group {
  margin: 0;
  float: right;
}
@media screen {
  .header-search{
    display: block;
  }
}
@media(max-width: 992px){
  .header-search{
    display: none;
  }
}
.header-search input, .header-search input:hover, .header-search input:focus {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
.header-search  > a, .header-search > a:hover{
  color: #000;
  vertical-align: middle;
}
.header-search > a{
  margin-right: 5px;
}

