

.node-filter{
  
}
#node-header{
  background: #f9f9f9;
  margin: -14px 0 15px;
  height: 50px;
}
@media screen {
  
  .node-filter > li{
    margin: auto 15px;
    padding: 3px;
  }
  .node-filter > li > a{
    text-decoration: none;
    color: #606060 !important;
    font-weight: 400;
  }

}
@media (max-width: 768px) {
  
  .node-filter > li{
    margin: auto 5px;
    padding: 2px;
  }
  .node-filter > li > a{
    padding-left: 2px;
    padding-right:0;
    text-decoration: none;
    color: #606060 !important;
    font-weight: 400;
  }

}
@media (max-width: 375px) {
  
  .node-filter > li{
    margin: auto 5px;
    padding: 0;
  }
  .node-filter > li > a{
    font-size: 12px;
  }
}


.node-filter > li > a:hover{
  color: #000 !important;
  padding-bottom: 5px;
}
.node-filter > .active a{
  color: #000 !important;
  padding-bottom: 5px;
}
.node-filter i {
  margin-right: 5px;
}

.node-button{
  margin: 6px 0;
  text-align: center;
}
.node-button span{
  padding-left: 5px;
}

.node-filter>li:active, .node-filter > .active {
  color: #000;
  border-bottom: 2px dotted #666666;
}
.node-filter>li:first-child:active{
  border: none;
}

.main{
  padding-right: 15px;
  padding-left: 15px;
  padding: 0 50px;
  min-height: 300px;
}
.main-content{
  padding: 0 15px;
}
.main-sider{
  background-color: transparent;
  flex: 0 0 300px !important;
}
.node-panel{
  background-color: #f9f9f9;
  margin-top: -15px;
  margin-bottom: 15px;
  box-shadow: 0 1px 0px rgba(0,0,0,0.02);
}
.node-title{
  font-size: 24px;
  color: #000;
  margin-bottom: 8px;
}
.node-summry a{
  color: #000;
}
.node-summry strong{
  font-weight: bold;
  color: #000;
}
.node-summry a:hover{
  text-decoration: underline;
}
.node-summry p:first-child{
  padding-bottom: 5px;
}
.node-summry p:last-child{
  padding-top: 5px;
}
.node-item{
  margin-bottom: 10px;
  overflow: hidden;
}
.node-item label{
  text-align: right;
  min-width: 130px;
  color: #aaa;
  display: table-cell;
  vertical-align: top;
  padding-right: 10px;
  font-size: 14px; 
  margin-bottom: 5px;
}
.node-data{
  display: table-cell;
  vertical-align: top;
}
.node-data span{
  
  text-align: left;
  float: left;
  width: 100px;
  overflow: hidden;
  vertical-align: top;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}
.node-data span a{
  color: #000;
}
.node-data span a:hover{
  text-decoration: underline;
}