.reply{
  padding: 15px;
  background-color: #fff;
  vertical-align: top;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}
.reply .avatar{
  float: left;
  margin-right: 10px;
  display: table-cell;
  vertical-align: middle;
}
.reply .infos{
  display: table-cell;
  vertical-align: top;
  overflow: hidden;
  float: left;
}
.reply .content{
  color: #333;
}
.reply .info a{
  color: #7AA87A;
  font-size: 12px;
}
.reply .info a:first-child{
  color: #555;
  font-size: 13px;
  font-weight: bold;
}
.twemoji{
  width: 15px;
}


.reply .info a:hover{
  text-decoration: underline;
}
.reply .info span{
  color: #7AA87A;
  font-size: 12px;
}
.reply .operate-group{
  width: 100px;
  float: right;
  min-height: 20px;
  display: table-cell;
  vertical-align: top;
}
.reply-deleted{
  padding: 8px 15px;
  font-size: 12px;
  color: #666;
  border-bottom: 1px solid #F0F0F0;
}
.deleted {
  text-decoration: line-through;
  color: #e0e0e0;
  text-align: center;
}